*{
    box-sizing: border-box;
}
body{
    background-color:lightcyan;
}
body a,li {
    text-decoration: none;
    list-style: none;
}
header nav{
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
}
header nav img{
    border:2px solid red ;
    width: auto ;
    max-width: 100% ;
}

.listItems.nav{
    display: flex;
    justify-content: space-around; 
    width: 100%;
    box-shadow: 2px 2px 2px 2px  gray;
   
}
.listItems.nav li{
    padding-left: 1%;
}
.listItems.breadCrumbs{
    border: 2px solid greenyellow;
    display: flex;
}
.listItems.breadCrumbs li+li::before{
    content:"/\00a0" ;
    font-weight: bold;
    padding: 0.2em;
}

section{
    display: flex;
    flex-wrap: wrap;
}
section  div {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 2px solid lightgray;
    box-shadow: 2px 2px gainsboro;
    padding: 5%;
}
section > div span {
    width: 40%;
    border-bottom: 2px solid rgb(76, 200, 200);
    padding-top: 2%;
}
/* @media all and (max-width:600px){
    body{
        background-color: burlywood;
    }

} */